:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(235, 235, 235);
    --entry: rgb(235, 235, 235);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(87, 86, 86);
    --tertiary: rgb(214, 214, 214);
    --gray: rgb(165, 165, 165);
    --content: rgb(30, 30, 30);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(235, 235, 235);
    --border: rgb(206, 206, 206);
    --darkcolor: #6a7ba2;
    --lightcolor: #cbd1de;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: rgb(40, 40, 40);
    --entry: rgb(50, 50, 50);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(176, 176, 176);
    --tertiary: rgb(70, 70, 70);
    --content: rgb(200, 200, 200);
    --code-block-bg: rgb(45, 45, 45);
    --code-bg: rgb(40, 40, 40);
    --border: rgb(60, 60, 60);
}
